certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.5
idna==3.7
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
msal==1.28.0
mypy==1.9.0
mypy-extensions==1.0.0
Office365-REST-Python-Client==2.5.8
packaging==24.0
pluggy==1.5.0
pycparser==2.22
Pygments==2.17.2
PyJWT==2.8.0
pytest==8.2.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
rich==13.7.1
typing_extensions==4.11.0
urllib3==2.2.1
